<!DOCTYPE html>

<html>
    <head>
        <title>Blogz</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">All Posts</a></li>
                <li><a href="/blog/newpost">New post</a></li>
                <li><a href="/login">Log in</a></li>
                <li><a href="/logout">Log out</a></li>
                <li><a href="/signup">Sign up</a></li>
            </ul>
        </nav>
        <style type="text/css">

                .error{
            color:red;
        }
        </style>
        
        {% block content %}                                                                                            
        {%endblock %}
    </body>
</html>
